<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Visa policies for Indian citizens</title>
</head>
<body>
    <h1>Visa policies for Indian citizens</h1>
    <h3>Choose a category to see which countries in the list</h3>
    <div>
        <ul>
            <li>visa not required</li>
            <li>visa is given on arrival</li>
            <li>visa ot required if you have schengen visa</li>
            <li>visa is not required if you have UK visa</li>
            <li>visa not required if you have UK visa</li>
            <li>visa is simple e-visa application</li>
            <li>visa is fuck all difficult process</li>
        </ul>
    </div>

    <div class="countries_list">
        <h3>List of countries where XXXchosen filterXXX</h3>
        <div class="country">
            Name - XXXcountry nameXXX<br>
            <a href="https://wikitravel.org/en/India">XXXRead more on wikitravel</a><br><br>
        </div>
        <div class="country">
            Name - XXXcountry nameXXX<br>
            <a href="https://wikitravel.org/en/India">XXXRead more on wikitravel</a><br><br>
        </div>
        <div class="country">
            Name - XXXcountry nameXXX<br>
            <a href="https://wikitravel.org/en/India">XXXRead more on wikitravel</a><br><br>
        </div>
        <div class="country">
            Name - XXXcountry nameXXX<br>
            <a href="https://wikitravel.org/en/India">XXXRead more on wikitravel</a><br><br>
        </div>
        <div class="country">
            Name - XXXcountry nameXXX<br>
            <a href="https://wikitravel.org/en/India">XXXRead more on wikitravel</a><br><br>
        </div>
    </div>
</body>
</html>