<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Visa policies for Indian citizens</title>
</head>
<body>
    <h1>Visa policies for Indian citizens</h1>
    <h3>Choose a category</h3>
    <div>
        <ul>
            <li><a href="">Visa not required</a></li>
            <li><a href="">Visa on arrival</a></li>
            <li><a href="">Visa not required if you have US visa</a></li>
            <li><a href="">Visa is not required if you have UK visa</a></li>
            <li><a href="">Visa is not required if you have Shengen visa</a></li>
            <li><a href="">Simple e-Visa application</a></li>
            <li><a href="">Shengen visa country</a></li>
            <li><a href="">Fuck all visa process</a></li>
        </ul>
    </div>

    <div class="countries_list">
        <h3>List of countries which allow visa on arrival - {{ number }}</h3>
        {% for country in list7 %}
            <div class="country">
                <a href="https://wikitravel.org/en/India">{{ country }}</a>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>